@import url(https://fonts.googleapis.com/css?family=Russo+One);

.header {
    background-color: rgba(255,255,255,1.0);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	z-index: 20;
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	height: 15vh;
	justify-content: flex-end;
	align-items: center;
    box-shadow:0px 0px 6px 3px rgba(0,0,0,0.15);
}

.wf-title {
  font-family: 'Russo One', sans-serif;
}

.absolute{
    top:0;
    position: absolute;
}

.transparent {
    box-shadow: none;
    background: none;
}

.transparent a {
    color: white;
    border-left-color: white;
}

.transparent .header__navbar--item--mobile{
    color: black;
    border-left-color: black;
}

.transparent #menu-icon{
    background: none;
    color: white;
}

.header__title {
    max-height: 100px;
	margin-right: auto;
	display: flex;
	white-space: nowrap;
	cursor: pointer;
}

.header__title__logo {
	height: 80px;
	position: relative;
}

.header__title__title {
    font-size: 25px;
    font-family: 'Russo One', sans-serif;
    color: rgb(35, 192, 227);
    position: relative;
    bottom: 30px;
}

.header__navbar{
	margin-top: 30px;
	margin-right: 24px;
	list-style: none;
	text-align: justify;
	display: inline-block;
 }
 
 .header__navbar--mobile{
    margin-top: 30px;
	margin-right: 24px;
	list-style: none;
	text-align: justify;
	display: inline-block;
 }

.header__navbar li {
	float: left;
    vertical-align: middle;
}

.header__navbar--item, .header__navbar--item--mobile {
  font-size: 2vh;
  font-family: serif;
  position: relative;
  display: inline-block; 
  padding: 18px 20px 18px;
  color: black;
  font-weight: bold;
  border-left-width: 1px;
  border-left-color: black;
  border-left-style: solid;
}

@media(max-width: 1180px) and (min-width: 1000px){
.header__navbar--item{
    font-size: 1vh;
}
.header__title__title{
    font-size: 2.99vh;
}
}
@media (max-width: 1000px) {
.header__navbar {display: none;}
.header__title{margin: 0 auto;}
.header__title__title{font-size: 1.5em;}
}
#ham-menu {
    background-color: #fff; /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px; /*メニュー内左右上下余白*/
    position: fixed;
    right: -500px; /*メニュー横幅 width と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 500px; /*メニュー横幅*/
    z-index: 1000;
}

#menu-icon {
    background-color: #fff; /*アイコン部分背景色*/
    border-radius: 0 0 0 10px; /*左下角丸*/
    color: #333; /*アイコン（フォント）色*/
    cursor: pointer;
    display: block;
    font-size: 8vh; /*アイコン（フォント）サイズ*/
    height: 50px; /*アイコン縦高さ*/
    line-height: 50px; /*縦位置中央化*/
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100px; /*アイコン横幅*/
    transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    z-index: 1000;
}

#menu-cb {
    display: none; /*チェックボックス本体は消しておく*/
}

#menu-icon:after{
    font-size: 1vh;
    position: absolute;
    width: 100%;
    top: 4vh;
    left: 0;
    content: 'MENU';
    transition: all 500ms ease-in-out;
    visibility: visible;
    opacity: 1;
}

#menu-cb:checked ~ #ham-menu,
#menu-cb:checked ~ #menu-icon {
    transform: translate(-500px); /*メニュー本体横幅 width と合わせる*/
}

#menu-cb:checked ~ #menu-background {
    opacity: 0.5;
    z-index: 999;
}


@media (min-width: 1000px) {
.mobile-menu {
  display: none;
}
}