.header {
    background-color: rgba(255,255,255,1.0);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	z-index: 20;
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	max-height: 100px;
	justify-content: flex-end;
	align-items: center;
}

.transpalent {
    background-color:rgba(255,255,255,0.0);
}

.header__title {
	margin-right: auto;
	display: flex;
}

.header__title__logo {
	height: 80px;
	position: relative;
}

.header__title__title {
    font-family: fantasy;
    color: rgb(35, 192, 227);
    padding-left: 16px;
}

.header__navbar{
	margin-top: 30px;
	margin-right: 24px;
	list-style: none;
	text-align: justify;
	display: inline-block;
 }
 
 .header__mavbar--mobile{
    margin-top: 30px;
	margin-right: 24px;
	list-style: none;
	text-align: justify;
	display: inline-block;
 }

.header__navbar li {
	float: left;
    font-size: 20px;
    vertical-align: middle;
}

.header__navbar--item {
  font-family: serif;
  position: relative;
  display: inline-block; 
  padding: 18px 20px 18px;
  color: #000;
  font-weight: bold;
  border-left-width: 1px;
  border-left-color: black;
  border-left-style: solid;
  
}

@media (max-width: 1000px) {
.header__navbar {
  display: none;
}
}

#ham-menu {
    background-color: #fff; /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px; /*メニュー内左右上下余白*/
    position: fixed;
    right: -300px; /*メニュー横幅 width と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 300px; /*メニュー横幅*/
    z-index: 1000;
}

#menu-icon {
    background-color: #fff; /*アイコン部分背景色*/
    border-radius: 0 0 0 10px; /*左下角丸*/
    color: #333; /*アイコン（フォント）色*/
    cursor: pointer;
    display: block;
    font-size: 50px; /*アイコン（フォント）サイズ*/
    height: 50px; /*アイコン縦高さ*/
    line-height: 50px; /*縦位置中央化*/
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px; /*アイコン横幅*/
    transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    z-index: 1000;
}

#menu-cb {
    display: none; /*チェックボックス本体は消しておく*/
}

#menu-cb:checked ~ #ham-menu,
#menu-cb:checked ~ #menu-icon {
    transform: translate(-300px); /*メニュー本体横幅 width と合わせる*/
}

#menu-cb:checked ~ #menu-background {
    opacity: 0.5;
    z-index: 999;
}


@media (min-width: 1000px) {
.mobile-menu {
  display: none;
}
}
