body{
  background: url("../img/home.jpg");
  background-size: cover;
	padding: 0;
  position: relative;
  margin: 0;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
}

.wf-kokoro { font-family: "Kokoro"; }

a {
  text-decoration: none;
}

.main {
  margin-top: 100px;
  padding-left: 36px;
  height: 100%;
  width: 100%;
  background-color: white;
}

