.wf-kokoro { font-family: "Kokoro"; }
.wf-hannari { font-family: "Hannari"; }
.wf-sawarabimincho { font-family: "Sawarabi Mincho"; }
.wf-sawarabigothic { font-family: "Sawarabi Gothic"; }



body{
  background: url("../img/home.jpg") no-repeat center;
  background-size: cover;
	padding: 0;
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.highlight {
    background: linear-gradient(transparent 50%, rgba(0,0,0,0.5) 0%);
    line-height: 1.3em;
}


.pagetop {
	display: inline;
  font-size: 21px;
  text-align: center;
  background: none;
  color: white;
  transition-property: background-color, color;
	transition-duration:.35s;
	transition-timing-function:ease-in-out;
  position: fixed;
  z-index: 10;
  bottom: 70px;
  right: 80px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

.pagetop i{
  	font-size: 60px;
}

.pagetop:hover {
	display: inline; 
	background-color: white; 
	color: black; 
	border: 1px solid white; 
}

a {
text-decoration: none;
}

.loading {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2147483647;
  
  -moz-object-fit: scale-dow;
  -moz-object-position: cente;

  background-color: #e3f4fd;
}

.loading__gif {
  transform: translate(50vw, 50vh) translate(-50%, -50%);
}

.loading-remove {
  transition: all .5s;
  display: none;
}

.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.main section  {
  overflow: hidden;
}

.page1__content{
  text-align: center;
}

.page1__content:before{
  background: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.8));
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main__title{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:5em;
	font-size: 20vh;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	letter-spacing: -0.05em;
	line-height: 0.9em;
}

.main__subtitle{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-family: sans-serif;
  color: white;
  font-weight: 100;
  font-size: 1.5em;
  font-weight: 900;
  line-height:1.5em;
}

@media (max-width: 1000px) {
body {
  background-image: url("../img/home_phone.jpg");
  background-size: cover;
}
.main__title {
    font-size: 11vh;
}
}

.page2__content {
  background: linear-gradient(to left, rgba(69, 182, 73, .96), #FFFF00);
  height: 100vh;
	padding-top: 15vh;
	font-family: sans-serif;
  text-align: center;
}

.page2__content h1{
  font-size: 5vh;
}

.page2__content h2{
  font-size: 2vh;
  max-width: 70%;
  margin: 0 auto;
}

.page2__btn__link{
	display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  font-size: 1.5em;
  color: #25708b;
  border: solid 2px #25708b;
  border-radius: 3px;
  transition: .25s;
}

.page2__btn__link:hover{
  background: #25708b;
  color:white;
}


.page3__content {
  background: #00779E url(../img/AFS-logo.png) no-repeat left top;
  background-blend-mode: multiply;
  background-size: cover;
	height: 100vh;
	padding-top: 15vh;
  text-align: center;
  color: white;
}

.page3__content__text {
  font-size: 2vh;
  font-family: sans-serif;
  max-width: 700px;
  padding-top: 10px;
  padding: 10px 30px 0px 30px;
  margin-right:auto;
  margin-left:auto;
  text-align: left;
  text-indent: 1em ;
}

.page3__content__text h2{
  text-align: center;
  text-indent: 0;
  white-space: nowrap;
}

.page3__content__text__name{
  text-align: center;
}

/*.page3__content__blend{*/
/*  mix-blend-mode: soft-light;*/
/*  font-size: 100px;*/
/*  font-family: sans-serif;*/
/*  font-weight: bold;*/
/*  line-height: 1.4;*/
/*  top: 10%;*/
/*  left: 10%;*/
/*  position: absolute;*/
/*  white-space: nowrap;*/
/*}*/

.page4__content{
  color:white;
  /*background: linear-gradient(-135deg, #77a1d3, #79cbca, #ff0000);*/
  /*background: linear-gradient(to right, #283048, #859398); */
  background: linear-gradient(45deg, rgb(246, 255, 0), rgba(255, 0, 161, .8));
	background-size: cover;
	height: 100%;
	width: 100%;
	padding-top: 15vh;
  text-align: center;
}

.page4__content__blend{
  mix-blend-mode: soft-light;
  font-size: 100px;
  font-family: sans-serif;
  font-weight: bold;
  bottom: 0;
  right: 10%;
  line-height: 1.4;
  position: absolute;
  white-space: nowrap;
}

.page4__title{
  font-size: 3vh;
}

.swiper-container {
	height: 100vh;
  align-items: center;
}

.member__trigger {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
  
  cursor: pointer;
}

.member__job {
  cursor: pointer;
  font-size: 3.5vh;
}

.member__name {
  cursor: pointer;
  font-size: 3vh;
}

.page4__members {
  margin-top: 48px;
  height: 80%;
  width: 100vw;
}

.modal__name {
  font-size: 5vw;
  text-align: center;
}

.modal-wrap p{
  font-size: 4vw;
}

@media (min-width: 1000px) {
.modal__name {
  font-size: 4vw;
}

.modal-wrap p{
  font-size: 3vw;
}
}