body{
  background: url("../img/home.jpg");
  background-size: cover;
	padding: 0;
  position: relative;
  margin: 0;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
}

.wf-kokoro { font-family: "Kokoro"; }

a {text-decoration: none;}

.main__container {
  padding-left: 36px;
  padding-top: 40px;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 2;
}

.main__title{
  font-family: serif;
  font-size: 40px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.main__title small{
  font-size: 20px;
  text-shadow: none;
  font-weight: lighter;
}

.main__infomations {
  display: grid;
  width: 100%;
  grid-auto-rows: 320px;
  grid-template-columns: repeat(auto-fit, 280px);
  justify-content: start;
  padding: 16px;
}

.info {
  border: 5px solid gray;
  border-radius: 10px;
  font-size: 18px;
  padding: 30px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.info a {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.info__writer {
  font-size: 16px;
  width: 100%;
}

footer {
  width: 100%;
}