body{
  background: url("../img/home.jpg");
  background-size: cover;
	padding: 0;
  position: relative;
  margin: 0;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
}

.wf-kokoro { font-family: "Kokoro"; }

a {
  text-decoration: none;
}

.main__container {
  padding-left: 36px;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 2;
}

.main__title{
  font-family: serif;
  font-size: 40px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.main__title small{
  font-size: 20px;
  text-shadow: none;
  font-weight: lighter;
}