body{
	background: linear-gradient(white, #e3f4ff, #7583DE);
	/*background-color: #e3f4fd;*/
}


.pagetop {
	display: inline;
    font-size: 21px;
    text-align: center;
    background: none;
    color: white;
    transition-property: background-color, color;
	transition-duration:.35s;
	transition-timing-function:ease-in-out;
    position: fixed;
    z-index: 30;
    bottom: 100px;
    right: 30px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid white;
}

.pagetop h5{
	font-size: 11px;
}

a.pagetop:hover {
	display: inline; background-color: white; color: black; border: 1px solid white; 
}

a {
text-decoration: none;
}

.loading {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  -moz-object-fit: scale-dow;
  -moz-object-position: cente;

  background-color: #e3f4fd;
}

.loading__gif {
  transform: translate(50vw, 50vh) translate(-50%, -50%);
}

.main__png{
	transform: translate(50vw, 50vh) translate(-50%, -50%);
}

.header {
	background-color: rgba(255,255,255,0.8);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	z-index: 40;
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
}

.header__img {
  float: left;
  height:100px;
  position: relative;
}

.header__title {
  font-family: fantasy;
  color: rgb(35, 192, 227);
  padding-left: 16px;
}

.header__navbar{
	margin-top: 30px;
	list-style: none;
	text-align: justify;
 }

.header__navbar li {
	float: left;
    font-size: 20px;
    vertical-align: middle;
}

.header__navbar--item {
	font-family: serif;
  position: relative;
  display: inline-block; 
  padding: 18px 20px 18px;
  color: #000;
  font-weight: bold;
  border-left-width: 1px;
  border-left-color: black;
  border-left-style: solid;
}

.content{
	width: 100vw;
}

.main{
	background: linear-gradient(#F7FE2E, #A9BCF5);
	padding-top: 160px;
}

.main__wrap{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    text-align: center; 
}

.main__project-name{
	padding-top: 100px;
	color: white;
}

.main__title{
	font-size: 100px;
	font-family: sans-serif;
	color: white;
	padding-bottom: 100px;
}

.main__subtitle{
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 50px;
	color: white;
	font-size: 25px;
	font-weight: 400;
}


/*@media (max-width: 698px) {*/
/*.content{*/
/*	margin-top: 300px;*/
/*	margin-bottom: 1000px;*/
/*}}*/

.footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100vw;
	text-align: left;
	font: normal 16px sans-serif;
	
	padding: 45px 50px;
	margin-top: 80px;
}


.footer .footer__left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

 /*Footer links */

.footer p.footer__links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer p.footer__links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer .footer__right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer .footer__right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

 /*If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer .footer__left,
	.footer .footer__right{
		text-align: center;
	}

	.footer .footer__right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer .footer__left p.footer__links{
		line-height: 1.8;
	}
}