body{
  background: url("../img/home.jpg");
  background-size: cover;
	padding: 0;
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}


.pagetop {
	display: inline;
  font-size: 21px;
  text-align: center;
  background: none;
  color: white;
  transition-property: background-color, color;
	transition-duration:.35s;
	transition-timing-function:ease-in-out;
  position: fixed;
  z-index: 30;
  bottom: 100px;
  right: 30px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

.pagetop h5{
	font-size: 11px;
}

.pagetop:hover {
	display: inline; background-color: white; color: black; border: 1px solid white; 
}

a {
text-decoration: none;
}

.loading {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  -moz-object-fit: scale-dow;
  -moz-object-position: cente;

  background-color: #e3f4fd;
}

.loading__gif {
  transform: translate(50vw, 50vh) translate(-50%, -50%);
}


.header {
	background-color: rgba(255,255,255,0.0);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	z-index: 40;
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	max-height: 100px;
	justify-content: flex-end;
	align-items: center;
}

.transpalent {
	background-color:rgba(255,255,255,0.0);
}

.header__title {
	margin-right: auto;
	display: flex;
}

.header__title__logo {
	height: 80px;
	position: relative;
}

.header__title__title {
  font-family: fantasy;
  color: rgb(35, 192, 227);
  padding-left: 16px;
  vertical-align: middle
}

.header__navbar, .header__mavbar--mobile{
	margin-top: 30px;
	margin-right: 24px;
	list-style: none;
	text-align: justify;
	display: inline-block;
 }

.header__navbar li {
	float: left;
    font-size: 20px;
    vertical-align: middle;
}

.header__navbar--item {
  font-family: serif;
  position: relative;
  display: inline-block; 
  padding: 18px 20px 18px;
  color: #000;
  font-weight: bold;
  border-left-width: 1px;
  border-left-color: black;
  border-left-style: solid;
}

@media (max-width: 1000px) {
.header__navbar {
  display: none;
}
}

#ham-menu {
    background-color: #fff; /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px; /*メニュー内左右上下余白*/
    position: fixed;
    right: -300px; /*メニュー横幅 width と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    width: 300px; /*メニュー横幅*/
    z-index: 1000;
}

#menu-icon {
    background-color: #fff; /*アイコン部分背景色*/
    border-radius: 0 0 0 10px; /*左下角丸*/
    color: #333; /*アイコン（フォント）色*/
    cursor: pointer;
    display: block;
    font-size: 50px; /*アイコン（フォント）サイズ*/
    height: 50px; /*アイコン縦高さ*/
    line-height: 50px; /*縦位置中央化*/
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px; /*アイコン横幅*/
    transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
    z-index: 1000;
}

#menu-cb {
    display: none; /*チェックボックス本体は消しておく*/
}

#menu-cb:checked ~ #ham-menu,
#menu-cb:checked ~ #menu-icon {
    transform: translate(-300px); /*メニュー本体横幅 width と合わせる*/
}

#menu-cb:checked ~ #menu-background {
    opacity: 0.5;
    z-index: 999;
}


@media (min-width: 1000px) {
.mobile-menu {
  display: none;
}
}

.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.main section  {
  overflow: hidden;
}

.page1__content{
  margin-top: 100px;
  text-align: center;
}

.page2__content {
	background-color: rgba(255, 255, 255, 0.4);
	height: 100vh;
	padding-top: 180px;
}

.page3__content{
	background-color: rgba(255, 255, 255, 0.4);
	height: 100%;
	padding-top: 180px;
  text-align: center;
}

.hidden {
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: rgba(81,81,81, 0.8);
}

.page3__title {
  margin: 36px;
}

.page3__members {
  padding: 24px;
  
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  
  justify-content: space-around;
}

.face {
  height: 270px;
  width: 270px;
  
  opacity: 0.8;
} 


.main__project-name{
	padding-top: 100px;
	padding-left: 120px;
	color: white;
}

.main__title{
	font-size: 100px;
	font-family: sans-serif;
	color: white;
	padding-bottom: 50px;
}

.main__subtitle{
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 50px;
	color: white;
	font-size: 25px;
	font-weight: 400;
}


/*@media (max-width: 698px) {*/
/*.content{*/
/*	margin-top: 300px;*/
/*	margin-bottom: 1000px;*/
/*}}*/

/*.footer{*/
/*	background-color: #292c2f;*/
/*	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);*/
/*	box-sizing: border-box;*/
/*	width: 100vw;*/
/*	text-align: left;*/
/*	font: normal 16px sans-serif;*/
	
/*	padding: 45px 50px;*/
/*	margin-top: 80px;*/
/*}*/


/*.footer .footer__left p{*/
/*	color:  #8f9296;*/
/*	font-size: 14px;*/
/*	margin: 0;*/
/*}*/

 /*Footer links */

/*.footer p.footer__links{*/
/*	font-size:18px;*/
/*	font-weight: bold;*/
/*	color:  #ffffff;*/
/*	margin: 0 0 10px;*/
/*	padding: 0;*/
/*}*/

/*.footer p.footer__links a{*/
/*	display:inline-block;*/
/*	line-height: 1.8;*/
/*	text-decoration: none;*/
/*	color:  inherit;*/
/*}*/

/*.footer .footer__right{*/
/*	float: right;*/
/*	margin-top: 6px;*/
/*	max-width: 180px;*/
/*}*/

/*.footer .footer__right a{*/
/*	display: inline-block;*/
/*	width: 35px;*/
/*	height: 35px;*/
/*	background-color:  #33383b;*/
/*	border-radius: 2px;*/

/*	font-size: 20px;*/
/*	color: #ffffff;*/
/*	text-align: center;*/
/*	line-height: 35px;*/

/*	margin-left: 3px;*/
/*}*/

 /*If you don't want the footer to be responsive, remove these media queries */

/*@media (max-width: 1000px) {*/

/*	.footer .footer__left,*/
/*	.footer .footer__right{*/
/*		text-align: center;*/
/*	}*/

/*	.footer .footer__right{*/
/*		float: none;*/
/*		margin: 0 auto 20px;*/
/*	}*/

/*	.footer .footer__left p.footer__links{*/
/*		line-height: 1.8;*/
/*	}*/
/*}*/