@import url(https://fonts.googleapis.com/earlyaccess/hannari.css);
@import url(https://fonts.googleapis.com/earlyaccess/sawarabimincho.css);
@import url(fonts.googleapis.com/earlyaccess/sawarabigothic.css);
@import url(fonts.googleapis.com/earlyaccess/sawarabigothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/kokoro.css);


.wf-kokoro { font-family: "Kokoro"; }
.wf-hannari { font-family: "Hannari"; }
.wf-sawarabimincho { font-family: "Sawarabi Mincho"; }
.wf-sawarabigothic { font-family: "Sawarabi Gothic"; }



body{
  background: url("../img/home.jpg") no-repeat center;
  background-size: cover;
	padding: 0;
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.highlight {
    background: linear-gradient(transparent 50%, rgba(0,0,0,0.5) 0%);
    line-height: 1.3em;
}


.pagetop {
	display: inline;
  font-size: 21px;
  text-align: center;
  background: none;
  color: white;
  transition-property: background-color, color;
	transition-duration:.35s;
	transition-timing-function:ease-in-out;
  position: fixed;
  z-index: 10;
  bottom: 70px;
  right: 80px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

.pagetop i{
  	font-size: 60px;
}

.pagetop:hover {
	display: inline; 
	background-color: white; 
	color: black; 
	border: 1px solid white; 
}

a {
text-decoration: none;
}

.loading {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2147483647;
  
  -moz-object-fit: scale-dow;
  -moz-object-position: cente;

  background-color: #e3f4fd;
}

.loading__gif {
  transform: translate(50vw, 50vh) translate(-50%, -50%);
}

.loading-remove {
  transition: all .5s;
  display: none;
}

.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.main section  {
  overflow: hidden;
}

.page1__content{
  margin-top: 100px;
  text-align: center;
}

.main__title{
  width:100%;
	font-size: 6em;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	letter-spacing: -0.05em;
}

.main__subtitle{
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 50px;
  color: white;
  font-size: 1.5em;
  font-weight: 900;
}

@media (max-width: 900px) {
  .main__title { font-size: 5em; }
  .main__subtitle{ font-size: 1.2em;}
}

.page2__content {
  background: #DCE35B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/*background-color: rgba(255, 255, 255, 0.4);*/
	height: 100vh;
	padding-top: 100px;
	padding-bottom: 30px;
  text-align: center;
}

.page2__btn__link{
	display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #25708b;
  border: solid 2px #25708b;
  border-radius: 3px;
  transition: .25s;
}

.page2__btn__link:hover{
  background: #25708b;
  color:white;
}


.page3__content {
  background: #00779E url(../img/AFS-logo.png) no-repeat left top;
  background-blend-mode: multiply;
	height: 100vh;
	padding-top: 100px;
  text-align: center;
  color: white;
}

.page3__content__text {
  max-width: 700px;
  padding-top: 10px;
  margin-right:auto;
  margin-left:auto;
  text-align: left;
  text-indent: 1em ;
}

.page4__content{
  color:white;
	background: rgba(0,0,0,0.8) url(https://cdn.pixabay.com/photo/2016/12/20/21/25/construction-1921518_960_720.jpg) no-repeat center center;
	background-blend-mode:multiply;
	background-size: cover;
	height: 100%;
	width: 100%;
	padding-top: 100px;
  text-align: center;
}

.page4__content h2{
  margin-top:100px;
}

.swiper-container {
	height: 100%;
  /*text-align: center;*/
}

.face {
  width: 100%;
  /*padding: 12px;*/
  opacity: 0.8;
  cursor: pointer;
} 

.member {
  padding: 24px;
  width: 300px;
  height:400px;
  cursor: pointer;
  margin: auto;
}

.member:hover {
  transition: linear .2s;
	background-color: rgba(255, 228, 196, 0.8);
	border-radius: 10%;
}

.member__trigger {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
  
  cursor: pointer;
}

.member__job {
  cursor: pointer;
}

.member__name {
  cursor: pointer;
}

.page4__members {
  margin-top: 48px;
  height: 80%;
  width: 100vw;
}

.modal__name {
  text-align: center;
}